In [4]:
def add(a,b):
    print(f"Addition result:{a+b}")
    
def sub(a,b):
    print(f"subtraction result:{a-b}")  
    
def mul(a,b):
    print(f"multiplication result:{a*b}")      
    
def div(a,b):
    print(f"divison result:{a/b}")          
    
ch=int(input("Ooperations available:1.addition  2.subtraction   3.multiply   4.division\nEnter your choice:"))
    
    
if ch>4:
    print("Invalid choice..!")
else:
    a,b=map(int,input("Enter two numbers:").split(" "))
    if ch==1:
        add(a,b)
    elif ch==2:
        sub(a,b)
    elif ch==3:
        mul(a,b)
    elif ch==4:
        if b==0:
            print(f"Error:Cannot divide {a} by zero.!!")
        else:    
            div(a,b)

Ooperations available:1.addition  2.subtraction   3.multiply   4.division
Enter your choice:4
Enter two numbers:2 0
Error:Cannot divide 2 by zero.!!

In [3]:
fruits=['apple','orange','mango']
for fruit in fruits:
    print(f"{fruit =}")
    for letter in fruit:
        print(letter)
    print()

fruit ='apple'
a
p
p
l
e

fruit ='orange'
o
r
a
n
g
e

fruit ='mango'
m
a
n
g
o

In [ ]:
i=0
while i<=10: 
    i+=1
    if i==6:
        continue
    print(i)

In [45]:
i=0
while i<10:
    print(f"{i} is less than 10")
    i+=1
else:
    print(f'{i} is equal to 10')

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
10 is equal to 10

In [3]:
i=123
while i!=0:
    rem=i%10
    print(int(rem))
    i//=10

3
2
1

In [3]:
fruits=['apple','mango','orange']
print ([m for m in fruits])

['p', 'n', 'a']

In [18]:
l1=[1,2,3]
l2=[4,5,6]
l3=[]
l4=[sum(i) for i in zip(l1,l2)]
l4

[5, 7, 9]

In [16]:
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
    
l3

[5, 7, 9]

In [19]:
lst=[1,2,3,4,5]
sum(lst)

15

In [21]:
str='fdsaa'
max(str)

's'

In [3]:
list=['apple','mango','cherry','zzz']
max(list)

'zzz'

In [4]:
min(list)

'apple'

In [5]:
sum(list)
list.index

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
n=int(input("Count:"))
rollno=[]
name=[]
score=[]

for i in range(n):
    r,n,s=map(str,input("Enter rollno name score:").split(" "))
    rollno.append(int(r))
    name.append(n)
    score.append(int(s))
    
r=int(input("Enter the roll number to be searched:"))
try:
    i=rollno.index(r)
    print(f"Rollno:{rollno[i]}\nName:{name[i]}\nScore:{score[i]}")
except:
    print('Invalid index Entered.!!')

Count:1
Enter rollno name score:21 dsf 2
Enter the roll number to be searched:2134
Invalid index.!!

In [20]:
d={'name':'Karthik',"lastname":"j"}
dict={'name':d,'age':20}

for i,v in dict.items():
    for n in v.items():
        print(n)
    print(v)

('name', 'Karthik')
('lastname', 'j')
{'name': 'Karthik', 'lastname': 'j'}

AttributeError: 'int' object has no attribute 'items'

In [17]:
for k,v in dict.items():
    for i in v.items():
        print(i)

('name', 'Karthik')
('lastname', 'j')

AttributeError: 'int' object has no attribute 'items'

In [2]:
dict={}
n=int(input("Number of inputs:"))
for i in range(n):
    r,n,s=map(str,input("Enter the rollno name score:").split(" "))
    dict[r]={'name':n,'score':int(s)}

i=input("Enter the rollno to be searched:")
if i in dict:
    print(f"Name:{dict[i]['name']}\nScore:{dict[i]['score']}")
else:
    print("Rollno not found..!")

Number of inputs:2
Enter the rollno name score:543 dgf 2435
Enter the rollno name score:432 hgdf 65
Enter the rollno to be searched:9
Rollno not found..!

In [5]:
string=input("Enter the string:")
for i in set(string):
    print(f"count of {i}:{string.count(i)}")

Enter the string:hello
count of h:1
count of l:2
count of e:1
count of o:1

In [ ]:
string1=input("Enter the string:")
res={}
for i in string1:
    if i in res:
        res[i]+=1
    else:
        res[i]=1
for k,v in res.items():
    print(f'count of {k}:{v}')

In [10]:
with open("D:\\abc.txt",'r') as f1:
    with open("D:\\xyz.txt",'w') as f2:
        f2.write(f1.read())
print("data written")

data written

csv.reader will read in list format
csv.DictReader will read in dict format

In [14]:
import csv
with open("D:\\ac.csv",'w',newline='') as f:
    n=int(input("Number of inputs:"))
    wt=csv.writer(f)
    wt.writerow(['rollno','name','score'])
    for i in range(n):
        r,n,s=map(str,input("Enter the rollno name score:").split(" "))
        wt.writerow([int(r),n,int(s)])
print("Operation succesful")

Number of inputs:3
Enter the rollno name score:321 fg 423
Enter the rollno name score:432 fdgs 453
Enter the rollno name score:243 dhfgs 342
Operation succesful

In [3]:
class student():
    def __init__(self,fname,lname,age,mrks):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.mrks=mrks
        print(f"First name:{self.fname}\nlast name:{self.lname}\nAge:{self.age}")
        
    def total(self):
        print(f"Total:{sum(self.mrks)}")
              
obj=student('a','b',12,[12,23,34])
obj.total()

First name:a
last name:b
Age:12
Total:69

In [6]:
class student():
    def __init__(self,fname,lname,age,mrks):
        self.fname=fname
        self.lname=lname
        self.age=age
        self.mrks=mrks
        print(f"First name:{self.fname}\nlast name:{self.lname}\nAge:{self.age}")
        
    def total(self):s
        print(f"Total:{sum(self.mrks)}")
              
obj=c('a','b',12,[12,23,34])


class c(student):
    def __init__(x,a,s,d,f):
        x.a=a
        x.s=s
        x.d=d
        x.f=f

AttributeError: 'c' object has no attribute 'fname'

In [8]:
class a():
    def __init__():
        a="hello"
        
class b(a):
    def __init__():
        super().__init__()
        b='l'
        
class c(b):
    def __init__():
        super().__init__()
        c='l'
        
    def d():
        print(f"{a}  {b}  {c}")
        
        
x=b()
x.d()

TypeError: __init__() takes 0 positional arguments but 1 was given